@*26.ADIM Creating Partial View for Candy List*@
@*//9.ADIM Adding View*@
@*//10.ADIM Adding View Models*@
@*15.ADIM Styling List View*@
@*24.ADIM Adding Tag Helper*@
@*40.ADIM Add To Cart Button*@
@model Candy

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="@Model.imageThumbnailUrl" alt="image for candy shop" />
        <div class="caption">
            <h3 class="pull-right">@Model.price.ToString("c")</h3>
            <h3><a asp-controller="Candy" asp-action="Details" asp-route-id="@Model.candyId">@Model.name</a></h3>
            <p>@Model.description</p>
        </div>
        <div class="addToCart">
            <p class="button">
                <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-candyId="@Model.candyId">Add To Cart</a>
            </p>
        </div>
    </div>

</div>