@*23.ADIM Adding Details View*@
@*40.ADIM Add To Cart Button*@
@model Candy

<h1>@Model.name</h1>

<div class="thumbnail">
    <img src="@Model.imageUrl" alt="@Model.name" />
    <div class="caption-full">
        <h3 class="pull-right">@Model.price</h3>
        <h3><a href="#">@Model.name</a></h3>
        <p>@Model.description</p>
    </div>
    <div class="addToCart">
        <p class="button">
            <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-candyId="@Model.candyId">Add To Cart</a>
        </p>
    </div>
</div>