@*//9.ADIM Adding View*@
@*//10.ADIM Adding View Models*@
@*15.ADIM Styling List View*@
@model CandyListViewModel


<h1>@Model.CurrentCategory</h1>
@foreach (var candy in Model.Candies)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@candy.imageThumbnailUrl" alt="image for candy shop" />
            <div class="caption">
                <h2 class="pull-right">@candy.name</h2>
                <h3>@candy.price.ToString("c")</h3>
                <h4>@candy.Category.categoryName</h4>
            </div>
        </div>

    </div>}
